/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #7371fc;
  background-color: #e8f0ff;
}

.game {
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}

.scores {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.scores h2 {
  font-size: 2rem;
  color: #6874e8;
}

.scores p {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #392759;
}

.intro {
  color: #a594f9;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: 400ms ease-out;
}

.intro-title {
  font-size: 50px;
  max-width: 750px;
}

.intro button,
.round button {
  padding: 0.75rem 2rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f5efff;
  background: #a594f9;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 300ms;
  margin-top: 2rem;
}

.round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease-out;
}

.intro button:hover,
.round button:hover {
  background: #7371fc;
}

.hands img {
  max-width: 100px;
  transform: rotate(-120deg);
  margin: 0 5rem;
  transition: 300ms;
}

.winner {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 300ms;
}

.hands .player-hand {
  transform: rotate(120deg) rotateY(180deg);
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@keyframes animateComputerHands {
  0% {
    transform: rotate(-120deg) translateX(0px);
  }
  15% {
    transform: rotate(-120deg) translateX(50px);
  }
  25% {
    transform: rotate(-120deg) translateX(0px);
  }
  35% {
    transform: rotate(-120deg) translateX(50px);
  }
  50% {
    transform: rotate(-120deg) translateX(0px);
  }
  65% {
    transform: rotate(-120deg) translateX(50px);
  }
  75% {
    transform: rotate(-120deg) translateX(0px);
  }
  85% {
    transform: rotate(-120deg) translateX(50px);
  }
  100% {
    transform: rotate(-120deg) translateX(0px);
  }
}

@keyframes animatePlayerHands {
  0% {
    transform: rotate(120deg) rotateY(180deg) translateX(0px);
  }
  15% {
    transform: rotate(120deg) rotateY(180deg) translateX(50px);
  }
  25% {
    transform: rotate(120deg) rotateY(180deg) translateX(0px);
  }
  35% {
    transform: rotate(120deg) rotateY(180deg) translateX(50px);
  }
  50% {
    transform: rotate(120deg) rotateY(180deg) translateX(0px);
  }
  65% {
    transform: rotate(120deg) rotateY(180deg) translateX(50px);
  }
  75% {
    transform: rotate(120deg) rotateY(180deg) translateX(0px);
  }
  85% {
    transform: rotate(120deg) rotateY(180deg) translateX(50px);
  }
  100% {
    transform: rotate(120deg) rotateY(180deg) translateX(0px);
  }
}
